<form>
	<table>
		<tr>
			<th>BOM SEARCH</th>
		</tr>
		<tr>
			<td>
				<label for="component-name">BUILD NAME:</label>
				<input
					type="text"
					id="component-name" 
					name="component-name" 
					hx-get="/search_jb2_components/"
					hx-target="#search-results"
					hx-trigger="keyup changed delay:500ms"
					list="search-results"
					oninput="this.value = this.value.toUpperCase();"
				>
			</td>
		</tr>
	</table>
</form>

{% include "partials/search/bom-suggestion-results.html" %}