<form id="bom-list-form" name="bom-list-form" class="bom-list-form">
	{% if build_name %}
		<details open>
		<summary></summary>	
			<table id="bom-list" class="bom-list" colspan="3">
				<tr>
					<th id="bom-build-name">{{build_name}}</th>
				</tr>
				<tr>
					<td>
						Select/Deselect All
					</td>
					<td>
						<input type="checkbox" class="select-all-checkbox"
							_= "on click set (.bom-part-check in closest <table/>).checked to my checked">
					</td>
				</tr>
				{% for bom_part in bom_parts %}
					{% set bom_index = loop.index0 %}
					{% include "partials/build-page/bom-part-row.html" %}
				{% endfor %}
			</table>
		</details>
		{% for sub_part in sub_parts %}
			<details open>
			<summary></summary>
				<table class="bom-sub-list" colspan="3">
					<tr>
						<th id="bom-sub-build-name">{{sub_part.name}}</th>
					</tr>
					<tr>
						<td>
							Select/Deselect All
						</td>
						<td>
							<input type="checkbox" class="select-all-checkbox"
								_= "on click set (.bom-part-check in closest <table/>).checked to my checked">
						</td>
					</tr>
					{% for bom_part in sub_part.sub_parts %}
						{% set bom_index = loop.index0 + sub_part.starting_index %}
						{% include "partials/build-page/bom-part-row.html" %}
					{% endfor %}
				</table>
			</details>
		{% endfor %}
	{% endif %}
</form>