@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	font-size: small;
}

.not-implemented-yet {
	color: pink;
	background-color: red;
}

.full-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.navbar {
	height: 5vh;
	width: 100%;
	order: 1;
}

.navbar ul {
	height: 5vh;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #0099ff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar li a {
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar li a:hover {
	color: gold;
}

.footer {
	height: 5vh;
	width: 100%;
	order: 3;
	background-color: #0099ff;
	color: black;
	text-align: center;
	left: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
	padding-top: 15px;
	padding-bottom: 15px;
	flex-grow: 1;
	flex: 1;
	order: 2;
	margin-top: 15px;
	margin-bottom: 15px;
}

.build-page-container {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: 5% 95%;
}

.block-info-container {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.bom-container {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
}

.full-build-container {
	grid-column-start: 7;
	grid-column-end: 14;
	grid-row-start: 2;
	grid-row-end: 3;
}

.block-file-upload-form {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 7;
}

.build-file-upload-form {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 7;
	grid-column-end: 14;
}


.actual-bom-list > div > div:nth-child(even) {
	background-color: lightblue;
}

.bom-list tr:nth-child(even)
{
	background-color: lightblue;
}

.bom-sub-list tr:nth-child(even)
{
	background-color: lightblue;
}
/* .bom-list td:nth-child(even), th:nth-child(even) {
  background-color: gray;
}

.bom-sublist td:nth-child(even), th:nth-child(even) {
  background-color: gray;
}

.actual-bom-list td:nth-child(even), th:nth-child(even) {
  background-color: gray;
} */

.iv-page-container {
	display: grid;
	grid-template-rows: auto auto auto;
}

.iv-gui-controls {
	grid-row-start: 1;
	grid-row-end: 2;
}

.iv-curve-information {
	grid-row-start: 2;
	grid-row-end: 3;

}

.iv-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.line-break {
	flex-basis: 100%;
	height: 0;
}

.iv-curve-information table {
	border: thin solid black;
}

.iv-plot-container {
	display: grid;
	text-align: center;
	grid-row-start: 3;
	grid-row-end: 4;
}

.iv-plot-header-container {
	display: flex;
	justify-content: space-around;
}

.iv-figure {
	width: 75%;
	height: 75%;
	margin: auto;
	align-self: center;
}

.combined-page {
	display: grid;
	grid-template-columns: 4fr 3fr;
}

.combined-page .build-page-container {
	grid-column-start: 1;
	grid-column-end: 2;
}

.combined-page .iv-page-container {
	grid-column-start: 2;
	grid-column-end: 3;
}

.block-forms-container {
	display: flex;
	flex-direction: column;
}

.actual-bom-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: auto;
}

.actual-bom-list input {
	max-width: 100%;
	box-sizing: border-box;
}

.actual-bom-list label {
	display: flex;
	flex-direction: column;
}

.part-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.note-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.delete-row-button-container {
	justify-self: flex-end;
	order: 5;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.quantity {
	width: 50%;
	min-width: 50%;
	max-width: 60%;
}

.feedback-form {
	width: 500px;
	margin: 50px auto;
}

.feedback-form-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.feedback-form-row label {
	font-weight: bold;
	margin-bottom: 5px;
}

.feedback-form-row input {
	padding: 8px;
	font-size: 14px;
	width: 30px;
}

.feedback-form-row textarea {
	padding: 8px;
	font-size: 14px;
	width: 100%;
	height: 120px;
	resize: none;
}

.feedback-submit-btn {
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
}

.iv-assembly-information-form {
	display: flex;
	flex-direction: column;
}

.iv-diode-information-line {
	display: flex;
	gap: 10px;
}

.iv-circuit-information-line {
	display: flex;
	gap: 10px;
}

.hidden-inputs {
	border: none !important;
}

.important-button {
	background-color: green;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: large;
	cursor: pointer;
	border-radius: 8px;
}

.important-button:disabled {
	background-color: lightgreen;
	color: white
}

button {
	background-color: lightskyblue;
	color: black;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: small;
	cursor: pointer;
	border-radius: 8px;
}

button:disabled {
	color: lightblue
}