{% if part %}
	{% set current_lot = part['part_lot'] %}
{% elif item %}
	{% set current_lot = item.part_lot %}
{% else %}
	{% set current_lot = '' %}
{% endif %}
<div class="lot-input-container">
	<label>
		Lot:
		<select 
		name="lot-select"
		hx-post="/check_custom_lot/"
		hx-trigger="change"
		hx-target="next .custom-lot-input-container"
		hx-swap="innerHTML"
		hx-vals='js:{ "lot-select": this.value }'>
			<option value="Unknown">Unknown</option>
			<option value="NA">NA</option>
			{% for lot in lot_list %}
				<option value="{{lot}}"
					{{
						'selected'
						if current_lot
						and current_lot not in ['Unknown', 'NA']
						and current_lot not in lot_list
						else ''
					}}>
					{{lot}}</option>
			{% endfor %}
			<option value="Other">Other</option>
		</select>	
	</label>
	<div class="custom-lot-input-container">
		{% include "partials/build-page/custom-lot-input.html" %}
	</div>
</div>