<div class="note-row">
	<div>
		<label>
			Note Type:
			<select name="note_type">
				<option value="GENERIC">General Note</option>
				<option value="PCB DEVIATIONS">PCB Edits</option>
				<option value="CURRENT_TEST">Current Test</option>
				<option value="REWORK SUMMARY">Rework Summary</option>
				<option value="INDIUM">Indium</option>
				<option value="TEMPERATURE">Temperature</option>
		</label>
	</div>
	<div>
		<label>
			Note:
			<input type="text" 
					name="note"
					size="25"
					value="{{note.text if note and note.text else ''}}"
					>
		</label>
	</div>
	<div>
		<button
			type="button"
			onclick="this.closest('.note-row').remove()"
			class="delete-row-button">
			X
		</button>
	</div>
</div>