<div class="note-row">
	<div>
		<label>
			Note Type:
			<select name="note_type">
				{% for type in ["GENERIC", "CURRENT_TEST", "REWORK_SUMMARY", "FAST_CART_NUMBER", "CAPA_NUMBER", "JOB_NUMBER"] %}
					<option {% if note and note.type.name == type %}selected{% endif %} value="{{ type }}">
						{{type.replace("_", " ").replace("SUMMARY", "INFO")}}</option>
				{% endfor %}
			</select>
		</label>
	</div>
	<div>
		<label class="label-around-text-area">
			Note:
			<textarea type="text"
					cols="50"
					name="note"
					class="note-text-area">{{note.note if note and note.note else ''}}</textarea>
		</label>
	</div>
	<div class="delete-row-button-container">
		<button
			type="button"
			onclick="this.closest('.note-row').remove()"
			class="delete-row-button">
			X
		</button>
	</div>
</div>