<div class="note-row">
	<div>
		<label>
			Note Type:
			<select 
				onchange="sortNotesContainer()"
				name="note_type">
				<option value="GENERIC" {% if note and note['note_type'] == "GENERIC" %}
						selected
					{% endif %}>General</option>
				<option value="PCB_DEVIATIONS" {% if note and note['note_type'] == "PCB_DEVIATIONS" %}
						selected
					{% endif %}>PCB Edits</option>
				<option value="CURRENT_TEST" {% if note and note['note_type'] == "CURRENT_TEST" %}
						selected
					{% endif %}>Current Test</option>
				<option value="REWORK_SUMMARY" {% if note and note['note_type'] == "REWORK_SUMMARY" %}
						selected
					{% endif %}>Rework Info</option>
				<option value="INDIUM" {% if note and note['note_type'] == "INDIUM" %}
						selected
					{% endif %}>Indium</option>
				<option value="TEMPERATURE" {% if note and note['note_type'] == "TEMPERATURE" %}
						selected
					{% endif %}>Temperature</option>
			</select>
		</label>
	</div>
	<div class="note-input-container">
		<label>
			Note:
			<input  class="note-input"
					type="text" 
					name="note"
					size="40"
					value="{{note.text if note and note.text else ''}}">
		</label>
	</div>
	<div class="delete-row-button-container">
		<button
			type="button"
			onclick="this.closest('.note-row').remove()"
			class="delete-row-button">
			X
		</button>
	</div>
</div>