<div id="iv-build-info-container" class="iv-build-info-container">
    <label> Block Engraving
        <input type="text"
                oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
                name="iv-block-engraving"
                value="{{iv_data.block_name | upper if iv_data and iv_data.block_name else ''}}"
                >
    </label>
    <label> Block Serial Number
        <input type="text"
                oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
                name="iv-block-sn"
                value="{{iv_data.build_sn if iv_data and iv_data.build_sn else ''}}"
                size="7">
    </label>
    <label> Revision Letter
        <input type="text"
                oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
                name="iv-block-revision"
                value="{{iv_data.build_revision | upper if iv_data and iv_data.build_revision else ''}}"
                size="2">
    </label>
    <br>
    <label> Build Name
        <input type="text"
                oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
                name="iv-build-name"
                value="{{iv_data.build_name | upper if iv_data and iv_data.build_name else ''}}"
                >
    </label>
    <button
        hx-post="/import_block_identifiers_to_iv/"
        hx-include="#block-info, #full-build-name-input"
        hx-target="#iv-build-info-container"
        hx-swap="innerHTML">
        Get Block Identifiers from Build Side
    </button>
</div>