<form id="iv-assembly-information-form" class="iv-assembly-information-form">
	<div id="iv-build-info-container" class="iv-build-info-container">
		<label> Block Engraving
			<input type="text"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					name="iv-block-engraving"
					value="{{iv_data.block_name if iv_data and iv_data.block_name else ''}}"
					>
		</label>
		<label> Block Serial Number
			<input type="text"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					name="iv-block-sn"
					value="{{iv_data.build_sn if iv_data and iv_data.build_sn else ''}}"
					size="7">
		</label>
		<label> Revision Letter
			<input type="text"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					name="iv-block-revision"
					value="{{iv_data.build_revision if iv_data and iv_data.build_revision else ''}}"
					size="2">
		</label>
		<label> Build Name
			<input type="text"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					name="iv-build-name"
					value="{{iv_data.build_name if iv_data and iv_data.build_name else ''}}"
					>
		</label>
	</div>
	<div id="iv-part-information-container" class="iv-part-information-container">
		<div class="iv-diode-information-line">
			<label> Diode
				<input type="text" 
							name="part" 
							size="30"
							id="iv-diode-name"
							value="{{iv_data.diode if iv_data and iv_data.diode else ''}}"
							hx-get="/search_part_lots/"
							hx-trigger="{% if suppress_lot_search %}keyup changed delay:300ms{% else %}revealed, keyup changed delay:300ms{% endif %}"
							hx-target="next .lot-container"
							hx-include="closest .iv-diode-information-line"
							oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)">
				<input type="hidden" name="lot" class="part-row-pending-lot" value="{{ iv_data['diode_lot'] if part else '' }}">
			</label>
			<div class="lot-container">
				{% set current_lot = iv_data.diode_lot
					if iv_data is defined and iv_data.diode_lot
					else ''
				%}
				{% set lot_list = diode_lots_list if lot_list is undefined else '' %}
				{% include "partials/build-page/lot-input.html" %}
			</div>
		</div>
		<div class="iv-circuit-information-line">
			<label> Circuit
				<input type="text" 
							size="30"
							name="part" 
							id="iv-circuit-name"
							value="{{iv_data.circuit if iv_data and iv_data.circuit else ''}}"
							hx-get="/search_part_lots/"
							hx-trigger="{% if suppress_lot_search %}keyup changed delay:300ms{% else %}revealed, keyup changed delay:300ms{% endif %}"
							hx-target="next .lot-container"
							hx-include="closest .iv-circuit-information-line"
							oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)">
				<input type="hidden" name="lot" class="part-row-pending-lot" value="{{ iv_data['circuit_lot'] if part else '' }}">
			</label>
			<div class="lot-container">
				{% set current_lot = iv_data.circuit_lot
					if iv_data is defined and iv_data.circuit_lot
					else ''
				%}
				{% set lot_list = circuit_lots_list if lot_list is undefined else '' %}
				{% include "partials/build-page/lot-input.html" %}
			</div>
		</div>
		<label> Assembly #
			<input type="text"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					name="iv-assembly-number"
					value="{{iv_data.assembly_number if iv_data and iv_data.assembly_number else ''}}"
					>
		</label>
		<label> Additional Info
			<input type="text"
					name="iv-additional-info"
					value="{{iv_data.additional_info if iv_data and iv_data.additional_info else ''}}"
					>
		</label>

		<label>
			Tag:
			<select
			name="part-tag"
			class="part-tag">
			{% for tag in tags %}
				<option 
					value="{{ tag }}"
					{% if selected_tag == tag %}selected{% endif %}
				>
					{{ tag }}
				</option>
			{% endfor %}
			</select>
		</label>
	</div>

	<input type="hidden" name="iv-build-sn" value="{{iv_data.build_sn if iv_data and iv_data.build_sn else ''}}">
</form>