<form id="iv-info" name="iv-info" class="iv-info">
	<table class="curve-fit-parameters-table">
		<tr>
			<th>Diode IV Curve Fit Parameters</th>
		</tr>
		<tr>
			<td>Rs (1/2)</td>
			<td>{{iv_data.rs|float|round(2, 'floor') if iv_data and iv_data.rs is not none else ''}}</td>
			<input type="hidden" name="rs" value="{{iv_data.rs if iv_data and iv_data.rs is not none else ''}}">
		</tr>
		<tr>
			<td>n</td>
			<td>{{iv_data.ideality|float|round(2, 'floor') if iv_data and iv_data.ideality is not none else ''}}</td>
			<input type="hidden" name="n" value="{{iv_data.ideality if iv_data and iv_data.ideality is not none else ''}}">
		</tr>
		<tr>
			<td>Is (A)</td>
			<td>{{iv_data.is if iv_data and iv_data.is is not none else ''}}</td>
			<td>
				<input type="hidden" name="is" value="{{iv_data.is if iv_data and iv_data.is is not none else ''}}">
			</td>
		</tr>
		<tr>
			<td>R^2 Error</td>
			<td>{{iv_data.r_squared_error if iv_data and iv_data.r_squared_error is not none else ''}}</td>
			<td>
				<input type="hidden" name="r-squared-error" value="{{iv_data.r_squared_error if iv_data and iv_data.r_squared_error is not none else ''}}">
			</td>
		</tr>
		<tr>
			<td>Mean Squared Error</td>
			<td>{{iv_data.mean_squared_error if iv_data and iv_data.mean_squared_error is not none else ''}}</td>
			<td>
				<input type="hidden" name="mean-squared-error" value="{{iv_data.mean_squared_error if iv_data and iv_data.mean_squared_error is not none else ''}}">
			</td>
		</tr>
	</table>

	<table class="hysteresis-table">
		<tr>
			<th>Hysteresis (mV)</th>
		</tr>
		<tr>
			<td>Mean</td>
			<td>{{iv_data.hysteresis_mean|float|round(2, 'floor') if iv_data and iv_data.hysteresis_mean is not none else ''}}</td>
			<td>
				<input type="hidden" name="hysteresis-mean" value="{{iv_data.hysteresis_mean if iv_data and iv_data.hysteresis_mean is not none else ''}}">
			</td>
		</tr>
		<tr>
			<td>Standard Deviation</td>
			<td>{{iv_data.hysteresis_std|float|round(2, 'floor') if iv_data and iv_data.hysteresis_std is not none else ''}}</td>
			<td>
				<input type="hidden" name="hysteresis-std" value="{{iv_data.hysteresis_std if iv_data and iv_data.hysteresis_std is not none else ''}}">
			</td>
		</tr>
		<tr>
			<td>Maximum</td>
			<td>{{iv_data.hysteresis_max|float|round(2, 'floor') if iv_data and iv_data.hysteresis_max is not none else ''}}</td>
			<td>
				<input type="hidden" name="hysteresis-max" value="{{iv_data.hysteresis_max if iv_data and iv_data.hysteresis_max is not none else ''}}">
			</td>
		</tr>
		<tr>
			<td>Minimum</td>
			<td>{{iv_data.hysteresis_min|float|round(2, 'floor') if iv_data and iv_data.hysteresis_min is not none else ''}}</td>
			<td>
				<input type="hidden" name="hysteresis-min" value="{{iv_data.hysteresis_min if iv_data and iv_data.hysteresis_min is not none else ''}}">
			</td>
		</tr>
	</table>

	<table class="series-resistance-table">
		<tr>
			<td>Rs 4pt</td>
			<td>= [ΔV1 - ΔV3] / [1mA - 100uA] =</td>
			<td>{{iv_data.rs_4pt|float|round(2, 'floor') if iv_data and iv_data.rs_4pt is not none else ''}}</td>
			<td>
				<input type="hidden" name="rs-4pt" value="{{iv_data.rs_4pt if iv_data and iv_data.rs_4pt is not none else ''}}">
			</td>
		</tr>
		<tr>
			<td>Rs</td>
			<td>= [ΔV1 - ΔV2] / [1mA - 100uA] =</td>
			<td>{{iv_data.rs_1|float|round(2, 'floor') if iv_data and iv_data.rs is not none else ''}}</td>
			<td>
				<input type="hidden" name="rs" value="{{iv_data.rs_1 if iv_data and iv_data.rs_1 is not none else ''}}">
			</td>
		</tr>
		<tr>
			<td>Rs* 3pt</td>
			<td>= [ΔV4 - ΔV5] / [Imax - Imax / 10] =</td>
			<td>{{iv_data.rs_3pt|float|round(2, 'floor') if iv_data and iv_data.rs_3pt is not none else ''}}</td>
			<td>
				<input type="hidden" name="rs-3pt" value="{{iv_data.rs_3pt if iv_data and iv_data.rs_3pt is not none else ''}}">
			</td>
		</tr>
	</table>

	<div class="line-break"></div>

	<table class="reverse-breakdown-table">
		<tr>
			<th>Reverse Breakdown</th>
		</tr>
		<tr>
			<td>Set Current</td>
			<td>{{iv_data.reverse_current|float|round(2, 'floor') if iv_data and iv_data.reverse_current is not none else ''}}</td>
			<td>
				<input type="hidden" name="reverse-current" value="{{iv_data.reverse_current if iv_data and iv_data.reverse_current is not none else ''}}">
			</td>
		</tr>
		<tr>
			<td>Reverse Voltage</td>
			<td>{{iv_data.reverse_voltage|float|round(2, 'floor') if iv_data and iv_data.reverse_voltage is not none else ''}}</td>
			<td>
				<input type="hidden" name="reverse-voltage" value="{{iv_data.reverse_voltage if iv_data and iv_data.reverse_voltage is not none else ''}}">
			</td>
		</tr>
	</table>

	<table class="heat-test-table">
		<tr>
			<td>Pass Heat</td>
			<td>{{iv_data.pass_heat if iv_data and iv_data.pass_heat is not none else ''}}</td>
			<td>
				<input type="hidden" name="pass-heat" value="{{iv_data.pass_heat if iv_data and iv_data.pass_heat is not none else ''}}">
			</td>
			<td>{{iv_data.temperature|float|round(2, 'floor') if iv_data and iv_data.temperature is not none else ''}} 1mS °C</td>
			<td>
				<input type="hidden" name="temperature" value="{{iv_data.temperature if iv_data and iv_data.temperature is not none else ''}}">
			</td>
		</tr>
	</table>

	<table class="landmark-numbers-table" id="landmark-numbers-table">
		<tr>
			<th>Landmark Numbers</th>
		</tr>
		<tr>
			<td></td>
			<td>V (mV)</td>
		</tr>
		<tr>
			<td>Imax</td>
			<td>{{(iv_data.i_max|float * 1000)|round(2, 'floor') if iv_data and iv_data.i_max is not none else ''}}</td>
		</tr>
			<td>Imax/10</td>
			<td>{{(iv_data.i_max_10|float * 1000)|round(2, 'floor') if iv_data and iv_data.i_max_10 is not none else ''}}</td>
		</tr>
		<tr>
			<td>Imax/100</td>
			<td>{{(iv_data.i_max_100|float * 1000)|round(2, 'floor') if iv_data and iv_data.i_max_100 is not none else ''}}</td>
		</tr>
		<tr>
			<td>{{ iv_data.max_current ~ 'mA' if iv_data and iv_data[iv_data.max_current ~ 'mA'] is not none else '1 mA'}}</td>
			<td>{{(iv_data[iv_data.max_current ~ 'mA' ]|float * 1000)|round(2, 'floor') if iv_data and iv_data[iv_data.max_current ~ 'mA'] is not none else ''}}</td>
		</tr>
		<tr>
			<td>{{ iv_data.max_current ~ '00uA' if iv_data and iv_data[iv_data.max_current ~ '00uA'] is not none else '100 uA' }}</td>
			<td>{{(iv_data[iv_data.max_current ~ '00uA']|float * 1000)|round(2, 'floor') if iv_data and iv_data[iv_data.max_current ~ '00uA'] is not none else ''}}</td>
		</tr>
		<tr>
			<td>{{ iv_data.max_current ~ '0uA' if iv_data and iv_data[iv_data.max_current ~ '0uA'] is not none else '10 uA' }}</td>
			<td>{{(iv_data[iv_data.max_current ~ '0uA']|float * 1000)|round(2, 'floor') if iv_data and iv_data[iv_data.max_current ~ '0uA'] is not none else ''}}</td>
		</tr>
		<tr>
			<td>{{ iv_data.max_current ~ 'uA' if iv_data and iv_data[iv_data.max_current ~ 'uA'] is not none else '1 uA'}}</td>
			<td>{{(iv_data[iv_data.max_current ~ 'uA']|float * 1000)|round(2, 'floor') if iv_data and iv_data[iv_data.max_current ~ 'uA'] is not none else ''}}</td>
		</tr>
		<tr>
			<td>{{ iv_data.max_current ~ '00nA' if iv_data and iv_data[iv_data.max_current ~ '00nA'] is not none else '100 nA' }}</td>
			<td>{{(iv_data[iv_data.max_current ~ '00nA']|float * 1000)|round(2, 'floor') if iv_data and iv_data[iv_data.max_current ~ '00nA'] is not none else ''}}</td>
		</tr>
	</table>
		<table class ="landmark-numbers-table-2" id="landmark-numbers-table-2">
		<tr>
			<th>Landmark Numbers</th>
		</tr>
		<tr>
			<td>Imax (mA)</td>
		</tr>
		<tr>
			<td>DeltaV4 (mV)</td>
			<td>{{(iv_data.dv4|float * 1000)|round(2, 'floor') if iv_data and iv_data.dv4 is not none else ''}}</td>
		</tr>
		<tr>
			<td>DeltaV5 (mV)</td>
			<td>{{(iv_data.dv5|float * 1000)|round(2, 'floor') if iv_data and iv_data.dv5 is not none else ''}}</td>
		</tr>
		<tr>
			<td>DeltaV1 (mV)</td>
			<td>{{(iv_data.dv1|float * 1000)|round(2, 'floor') if iv_data and iv_data.dv1 is not none else ''}}</td>
		</tr>
		<tr>
			<td>DeltaV2 (mV)</td>
			<td>{{(iv_data.dv2|float * 1000)|round(2, 'floor') if iv_data and iv_data.dv2 is not none else ''}}</td>
		</tr>
		<tr>
			<td>DeltaV3 (mV)</td>
			<td>{{(iv_data.dv3|float * 1000)|round(2, 'floor') if iv_data and iv_data.dv3 is not none else ''}}</td>
		</tr>
		<tr>
			<td>Vknee=V@1uA; dV=DeltaV2</td>
		</tr>
	</table>
	<table class="hidden-inputs">
		<tr>
			<input type="hidden" name="iv-polarity" value="{{iv_data.polarity if iv_data and iv_data.polarity is not none else ''}}">
			<input type="hidden" name="iv-points-per-decade" value="{{iv_data.points_per_decade if iv_data and iv_data.points_per_decade is not none else ''}}">
		</tr>
	</table>
</form>