<div id="iv-plot-container" 
	class="iv-plot-container"
	hx-get="/get_empty_plot"
	hx-trigger="load"
	hx-swap="innerHTML"
	hx-target="#iv-plot">

	<div id="iv-plot-subcontainer">
		<h2 class="iv-plot-title">Diode IV Curve (A,V)</h2>
		<div class="iv-plot-header-container">
			<h3>Polarity {{iv_curve.polarity if iv_curve and iv_curve.polarity else ""}}</h3>
			<h3>{{iv_curve.points_per_decade if iv_curve and iv_curve.points_per_decade else ""}} Points per Decade</h3>
		</div>
		<div class="iv-plot-display-controls">
			<select>
				<option value="linear">Linear</option>
				<option value="log">Log</option>
			</select>
		</div>

		{% include "partials/iv-page/iv-plot-figure.html" %}

	</div>

</div>