<form id="block-file-upload-form" class="block-file-upload-form">
	<button
		hx-post="/upload_block_file/"
		hx-target="#block-file-upload-form"
		hx-swap="innerHTML">
		Choose Block File
	</button>
	<text name="block-file-upload-text" id="block-file-upload-text" class="selectable-text">{{file_path if file_path else 'No file selected'}}</text>
	<input type="hidden" name="block-file-path" id="block-file-path" value="{{file_path if file_path else ''}}">
	<button 
		class="important-button"
		type="submit"
		hx-post="/populate_info_from_block_file/"
		hx-swap="innerHTML"
		hx-target="#block-forms-container"
		{% if not file_path or file_path == '' %}disabled{% endif %}>
		Populate Block Data
	</button>
</form>