<form 	
	id="block-info" 
	hx-get="/get_jb2_bom_from_build_name/" 
	hx-target="#build-container"
	>
	<table>
		<tr>
			<th>BLOCK IDENTIFIERS</th>
		</tr>
		<tr>
			<td>
				<label for="block-engraving-input">BLOCK ENGRAVING:</label>
				<input 
					type="text" 
					id="block-engraving-input" 
					name="block-engraving-input"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					size="25"
					value="{{block.block_engraving if block and block.block_engraving else ''}}"
				>
			</td>
		</tr>
		<tr>
			<td>
				<label for="block-serial-number-input">BLOCK SERIAL NUMBER:</label>
				<input
					type="text"
					id="block-serial-number-input" 
					name="block-serial-number-input"
					size="5"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					value="{{block.block_serial_number if block and block.block_serial_number else ''}}"
				>
			</td>
		</tr>
		<tr>
			<td>
				<label for="block-revision-input">BLOCK REVISION:</label>
				<input 
					type="text" 
					id="block-revision-input" 
					name="block-revision-input"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					maxlength="2"
					size="5"
					value="{{block.block_revision if block and block.block_revision else ''}}"
				>
			</td>
			<td id="revision-check-cell">
				<button
					hx-post="/check_block_revisions/"
					hx-include="#block-info"
					hx-target="#generic-popup"
					hx-swap="outerHTML">	
					Check Revisions in DB
				</button>
			</td>
		</tr>
	</table>
</form>