<form class="pb1-info" id="pb1-info" name="pb1-info">
	<table>
		<tr>
			<th colspan="2">PB1 INFORMATION</th>
		</tr>
		<tr>
			<td>(PRE)BUILD NAME</td>
			<td>
				<input 
					class="build-name-input"
					id="pb1-build-name-input" 
					name="pb1-build-name-input"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					value="{{block.pb1_build_name if block and block.pb1_build_name else ''}}">
			</td>
		</tr>
		<tr>
			<td>DATE</td>
			<td>
				<input 
					type="date"
					size="10" 
					id="pb1-date-input" 
					name="pb1-date-input"
					value="{{block.pb1_date if block and block.pb1_date else ''}}">
			</td>
		</tr>
		<tr>
			<td>PREBUILD INITIALS</td>
			<td>
				<input 
					class="initials-input"
					size="10" 
					id="pb1-initials-input" 
					name="pb1-initials-input"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					value="{{block.pb1_initials if block and block.pb1_initials else ''}}"
				>
			</td>
		</tr>
	</table>
</form>

<button
	class="important-button"
	hx-post="/save_pb1_info/"
	hx-target="#generic-popup"
	hx-include="#pb1-info, #block-info, #inspection-info"
	hx-vals='{"print_label": "true"}'
	hx-swap="outerHTML">
	Save/Print PB1 Info
</button>
