<form class="pb2-info" id="pb2-info" name="pb2-info">
	<table>
		<tr>
			<th colspan="2">PB2 INFORMATION</th>
		</tr>
		<tr>
			<td>BUILD NAME</td>
			<td>
				<input 
					size="25" 
					id="pb2-build-name-input"
					name="pb2-build-name-input"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					value="{{block.pb2_build_name if block and block.pb2_build_name else ''}}">
			</td>
		</tr>
		<tr>
			<td>DATE</td>
			<td>
				<input
					type="date"
					size="10" 
					id="pb2-date-input" 
					name="pb2-date-input"
					value="{{block.pb2_date if block and block.pb2_date else ''}}">
			</td>
		</tr>
		<tr>
			<td>PREBUILD INITIALS</td>
			<td>
				<input 
					class="initials-input"
					id="pb2-initials-input" 
					name="pb2-initials-input"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					value="{{block.pb2_initials if block and block.pb2_initials else ''}}">
			</td>
		</tr>
		<tr>
			<td>INSPECTOR</td>
			<td>
				<input 
					class="initials-input"
					size="5" 
					id="pb2-inspection-initials-input" 
					name="pb2-inspection-initials-input"
					oninput="sanitizeInput(this, ILLEGAL_FILENAME_CHARACTERS, true)"
					value="{{block.pb2_inspection_initials if block and block.pb2_inspection_initials else ''}}">
			</td>
		</tr>
	</table>
</form>

<button
	class="important-button"
	hx-post="/save_pb2_info/"
	hx-target="#generic-popup"
	hx-include="#pb2-info, #block-info, #inspection-info"
	hx-vals='{"print_label": "true"}'
	hx-swap="outerHTML">
	Save/Print PB2 Info
</button>