<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" 
		integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" 
		crossorigin="anonymous"></script>
		<script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
	</head>
	<body class="full-page">
		{% include "navbar.html" %}
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		{% include "footer.html" %}
	</body>
</html>