{% extends "base.html" %}

{% block content %}

<form class="feedback-form"
      hx-post="/submit"
      hx-target="#response"
      hx-swap="innerHTML">

    <div class="feedback-form-row">
        <label>User Initials:</label>
        <input type="text" name="User_Initials" oninput="this.value = this.value.toUpperCase()" required minlength="3" maxlength="3">
    </div>

    <div class="feedback-form-row">
        <label>Feedback:</label>
        <textarea name="User_Feedback" required></textarea>
    </div>

    <button type="submit" class="feedback-submit-btn">Submit</button>
</form>

<div id="response"></div>
{% endblock %}