{% extends "base.html" %}

{% block content %}
<div class="combined-page">
	<div id="build-page-container" class="build-page-container">
		{% include "partials/block-forms/block-file-upload.html" %}
		{% include "partials/block-forms/build-file-upload.html" %}
		<div class="block-info-container">
			<div id="block-forms-container" name="block-forms-container" class="block-forms-container">
				{% include "partials/block-forms/block-forms-container.html" %}
			</div>
		</div>
		<div class="bom-container" id="bom-container">
			{% include "partials/search/bom-search-form.html" %}
			{% include "partials/build-page/bom-list.html" %}
		</div>
		<div class="full-build-container" id="full-build-container">
			{% include "partials/block-forms/full-build.html" %}
		</div>	
	</div>

	<div id="iv-page-container" class="iv-page-container">

		{% include "partials/iv-page/iv-plot.html" %}

		<div id="iv-curve-information" class="iv-curve-information">
			{% include "partials/iv-page/iv-info.html" %}
		</div>
		
		<div id="iv-gui-controls"
			class="iv-gui-controls"
			hx-post="/default_keithley_settings/"
			hx-trigger="load"
			hx-swap="innerHTML">
		</div>
	
	</div>	
</div>
{% endblock %}